html {
  /*background-color: #b3d9ff;*/
  font-size: 20px;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

#sidebar{
  background-color: #ffb3b3;
  position:fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 1;
  overflow-x: hidden;
  display: block;
  background-color: #666699;


}

#sidebar h3 {
  /*padding-left: 20px;*/

  color: #ffff;
  font-family: Times, sans-serif;
  font-size: 25px;
  /*margin: auto;*/
  text-align: center;

}



#sidebar input {
  /*padding-bottom: 10px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 150px;
  height: 20px;
}



.recuperation {
  position: relative;
  left: 50%;
  width: 200px;
  height: 40px;
  margin-left: -100px;
}

.addition {
  width: 100px;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}


.deletion {
  display: inline-block;
  border-radius: 4px;
  background-color: #a3a3c2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.deletion span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.deletiion span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.deletion:hover span {
  padding-right: 25px;
}

.deletion:hover span:after {
  opacity: 1;
  right: 0;
}



img {
  width: 50px;
  height: 50px;

}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff3333;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #00ff00;
}

.button:active {
  background-color: #00ff00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


#interrupteur1 {
  width: 50px;
  height: 50px;
}




table, th, td {
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

th {

  border-bottom: 1px solid black;
}


table {
  border-spacing: 5px;
  border: 3px solid black;
  position: relative;
  left: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.building {
  width: 600px;
  margin-left: -300px;
}

.room {
  width: 700px;
  margin-left: -350px;
}

.light {
  width: 800px;
  margin-left: -400px;
}


caption {
  margin-bottom: 10px;
}



h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/*
footer {
  position: absolute;
  bottom: 10px;
}
*/
